<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Tutorials</title>
    <link rel="stylesheet" href="foundation.css">
</head>
<body>

<div ng-app="myApp">
    <div ng-controller="AppCtrl as ctrl">

        <table>
            <tr>
                <td><h5>A: {{aGallons}}</h5></td>
                <td><h5>B: {{bGallons}}</h5></td>
                <td><h5>C: {{cGallons}}</h5></td>
                <td><h5>total: {{totalGallons}}</h5></td>
            </tr>
            <tr>
                <td><h5>A: {{aFrac}}</h5></td>
                <td><h5>B: {{bFrac}}</h5></td>
                <td><h5>C: {{cFrac}}</h5></td>
                <td><h5>total: {{totalFrac}}</h5></td>
            </tr>
        </table>

        <table>
            <tr>
                <td><input type="number" ng-model="addA" style="width: 115px"></td>
                <td><div class="button" ng-click="ctrl.addA()">Add A</div></td>
            </tr>
            <tr>
                <td><input type="number" ng-model="addB" style="width: 115px"></td>
                <td><div class="button" ng-click="ctrl.addB()">Add B</div></td>
            </tr>
            <tr>
                <td><input type="number" ng-model="addC" style="width: 115px"></td>
                <td><div class="button" ng-click="ctrl.addC()">Add C</div></td>
            </tr>
            <tr>
                <td><input type="number" ng-model="remove" style="width: 115px"></td>
                <td><div class="button" ng-click="ctrl.remove()">Remove</div></td>
            </tr>

        </table>


        <table>
            <tr ng-repeat="entry in entries">
                <td>{{entry.currentDate | date:'yyyy-MM-dd h:mm:ss a'}}</td>
                <td>{{entry.action}}</td>
                <td>{{entry.amount}}</td>
            </tr>


    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>